body {
    display: grid;
    background-color: black;
}
.UL1 {
    list-style: none;
    display: inline;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 1000px;
    
    
}
a:link {
    color: rgb(10, 10, 207);
    text-decoration: none;
    
}
a:visited {
    color: rgb(10, 10, 207);
}
a:hover {
    color: black;
}
h1 {
    font-size: 40px;
    margin-top: 230px;
    text-align: center;
    color: gold;
}